body {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: #001b00;

  font-family: "Sixtyfour", serif;
  color: #33ff33;
}
